```
# Compiled Python files
*.pyc
__pycache__/

# Virtual environments
.venv/
venv/

# Logs
*.log

# Environment files
.env
.env.local
*.env.*

# Editors
.vscode/
.idea/

# Coverage reports
.coverage
coverage/
htmlcov/

# Testing
.pytest_cache/
.mypy_cache/
```